{% extends 'base.html' %}
{% load static %}

{% block title %}
LoginPage
{% endblock title %}

{% block body %}
<div class="login-credentials">
    <div class="login-image">

    </div>
    <div class="login-container">
        <div class="login-holder">
            <div class="login-logo">
                store
            </div>
            <hr>
            <form action="" method="post" class="login-form">
                {% csrf_token %}
                <div class="first-name display">
                    <label for="">First Name</label>
                    <input type="text" name="register-name">
                </div>
                <div class="user-name display">
                    <label for="">Username</label>
                    <input type="text" name="register-username">
                </div>
                <div class="email display">
                    <label for="">Email</label>
                    <input type="email" name="register-email">
                </div>
                <div class="password display">
                    <label for="">Password</label>
                    <input type="password" name="register-password">
                </div>
                <button type="submit" class="login-form-btn">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}

